<!--ДЗ -->
<!--Избавиться от колекций бэкбона. Переделать под Redux-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task 21.11.2015</title>
    <script src="js/jquery-2.1.4.js"></script>
    <script src="js/underscore.js"></script>
    <script src="js/backbone.js"></script>
    <script src="js/main.js"></script>
    <link  href="css/main.css" media="all" rel="stylesheet">
</head>
<body>
    <div class="app-container">
        <table class="score_table">
            <thead class="score_head">
                <th>ID</th>
                <th>Name</th>
                <th>Score</th>
            </thead>
            <tbody class="score_body">

            </tbody>
        </table>
    </div>

<script type="text/template" id="score_tr">
    <% _.each(ratings, function(rating){ %>
        <tr>
            <td><%= rating.id %></td>
            <td><%= rating.name %></td>
            <td><%= rating.points %></td>
        </tr>
    <% }) %>
</script>
</body>
</html>